<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h2>{{ message.user }}</h2>
        <p>{{ message.text }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="newMessage" placeholder="Écrivez votre message..."></ion-input>
      <ion-button (click)="sendMessage()" slot="end" [disabled]="!newMessage">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>